<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Form Penjualan</title>
</head>
<body>
<div class="container" id="form">
    <div class="card mt-4">
        <div class="card-header text-center">
            <h2>FORM PENJUALAN</h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="customer" class="form-label">Customer: </label>
                            <input type="text" class="form-control" name="customer" id="customer"
                                   v-bind:value="customer" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for='barang' class="form-label">Barang: </label>
                            <select name="barang" id="barang" class="form-control" v-model="selectedBarang.id"
                                    v-on:change="enableOption" ref="barang">
                                <option value="#">-- Pilih Barang --</option>
                                <option v-for="item in barang" v-bind:value="item.id">
                                    {{ item.nama }} -- Rp {{ item.harga }}
                                </option>
                            </select>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="harga" class="form-label">Harga: </label>
                            <input type="text" name="harga" id="harga" class="form-control" ref="harga"
                                   v-bind:value="selectedBarang.harga" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for="jumlah" class="form-label">Jumlah: </label>
                            <input type="number" min="1" name="jumlah" id="jumlah" class="form-control" ref="jumlah"
                                   v-model="selectedBarang.jumlah" v-on:keyup="checkJumlah"
                                   disabled>
                        </div>

                        <div class="form-group mt-5">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-success" ref="add" v-on:click="addItems" disabled>
                                    Add Item
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <result-table v-if="result.status" v-bind:items="result.item"></result-table>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between ">
                <h5>Total: Rp {{ result.total }}</h5>
                <button class="btn btn-dark" v-on:click="paymentProcess">Next</button>
            </div>
        </div>
    </div>
    <!--  Next process  -->
    <div class="card mt-4" v-if="payment.status">
        <div class="card-header">
            <h3>Pembayaran</h3>
        </div>
        <div class="card-body">
            <form action="#" method="post">
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="pembayaran" class="form-label">Metode Pembayaran: </label>
                            <select name="pembayaran" id="pembayaran" class="form-control" v-model="selectedPayment" v-on:change="changePaymentMethod">
                                <option value="transfer" selected>Transfer Bank</option>
                                <option value="cod">Cash on Delivery</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-3">
                            <label for="diskon" class="form-label">Diskon: </label>
                            <select name="diskon" id="diskon" class="form-control" ref="diskon"
                                    v-model="selectedDiskon.id" v-on:change="discount">
                                <option value="#">Tidak ada</option>
                                <option v-for="i in diskon" v-bind:value="i.id">
                                    {{ i.diskon }}%
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <h5>Total Pembayaran: Rp {{ payment.total_bayar }}</h5>
                        <button class="btn btn-primary" onclick="alert('Checkout berhasil!')">Checkout</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/x-template" id="table-result">
    <!--      Show results      -->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Barang</th>
            <th scope="col">Harga</th>
            <th scope="col">Jumlah</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(no, index) in items">
            <td>{{ ++index }}</td>
            <td>{{ no.nama}}</td>
            <td>Rp {{ no.harga }}</td>
            <td>{{ no.jumlah }}</td>
        </tr>
        </tbody>
    </table>

</script>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<!-- Vue -->
<script>
    const form = Vue.createApp({
        data() {
            return {
                customer: 'Akhmad Nur Hidayatulloh',
                selectedBarang: {id: '#', nama: '', harga: 0, jumlah: ''},
                selectedDiskon: {id: '#', diskon: 0},
                selectedPayment: 'transfer',
                barang: [
                    {id: 1, nama: 'MIKROTIK Router Wireless RB941-2nD (hAP-Lite) Mikrotik', harga: 336000},
                    {id: 2, nama: 'Router Wireless RB951Ui-2HND', harga: 905000},
                    {id: 3, nama: 'Router Wireless RB931-2nD (hAP-Mini)', harga: 301000},
                    {id: 4, nama: 'RB960PGS (hEX-PoE)', harga: 1245000},
                    {id: 5, nama: 'RB750r2 (hEX-Lite)', harga: 678000}
                ],
                diskon: [
                    {id: 1, diskon: 10},
                    {id: 2, diskon: 20},
                    {id: 3, diskon: 50},
                ],
                result: {
                    status: false,
                    item: [],
                    total: 0,
                },
                payment: {
                    status: false,
                    payment_method: 'transfer',
                    total_bayar: 0
                }
            }
        },
        methods: {
            enableOption() {
                // Show harga
                for (i = 0; i < this.barang.length; i++) {
                    this.selectedBarang.harga = this.barang[i].id === this.selectedBarang.id ? this.barang[i].harga : this.selectedBarang.harga;
                    this.selectedBarang.nama = this.barang[i].id === this.selectedBarang.id ? this.barang[i].nama : this.selectedBarang.nama;
                    this.selectedBarang.harga = this.selectedBarang.id != '#' ? this.selectedBarang.harga : 0;
                }

                // Enable form
                if (this.selectedBarang.id != '#') {
                    this.selectedBarang.jumlah = 1;
                    this.$refs.jumlah.disabled = false;
                    this.$refs.add.disabled = false;
                } else {
                    this.selectedBarang.jumlah = '';
                    this.$refs.add.disabled = true;
                    this.$refs.jumlah.disabled = true;
                }
            },
            checkJumlah() {
                if (parseInt(this.selectedBarang.jumlah) < 1 || this.selectedBarang.jumlah == '') {
                    this.$refs.add.disabled = true;
                } else {
                    this.$refs.add.disabled = false;
                }
            },
            addItems() {
                // Push item and change status to true
                this.result.status = true;
                this.result.item.push({
                    id: this.selectedBarang.id,
                    nama: this.selectedBarang.nama,
                    harga: this.selectedBarang.harga,
                    jumlah: this.selectedBarang.jumlah
                })

                // set total
                this.result.total += (this.selectedBarang.harga * this.selectedBarang.jumlah)

            },
            discount() {
                for (i = 0; i < this.diskon.length; i++) {
                    if(this.selectedDiskon.id != '#' && this.selectedDiskon.id === this.diskon[i].id){
                        this.selectedDiskon.diskon =  this.diskon[i].diskon
                    }else if(this.selectedDiskon.id == '#'){
                        this.selectedDiskon.diskon =  0
                    }
                }
                this.payment.total_bayar = this.result.total - ((this.result.total * this.selectedDiskon.diskon) / 100)
            },
            paymentProcess() {
                // Show payment card
                this.payment.status = true

                // Set total payment
                this.payment.total_bayar  = this.result.total

                // Disable add button and form
                this.selectedBarang.jumlah = '';
                this.selectedBarang.id = '#';
                this.selectedBarang.harga = '';
                this.$refs.add.disabled = true;
                this.$refs.jumlah.disabled = true;
                this.$refs.barang.disabled = true;
            },
            changePaymentMethod(){
                this.payment.payment_method = this.selectedPayment
            }
        }
    })
    form.component('result-table', {
        props: ['items'],
        template: `#table-result`,
    })

    form.mount('#form')
</script>
</body>
</html>
