<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Font Awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Aplikasi Kesehatan</title>
</head>
<body class="bg-light">
<div id="app">
    <!--  Navbar  -->
    <navbar v-on:show-index="showIndex" v-on:show-register-consultant="showRegisterConsultant"></navbar>

    <div id="index" v-if="show.index">
        <!-- Jumbotron -->
        <jumbotron></jumbotron>

        <!-- Kategori -->
        <kategori></kategori>

        <!-- Top konsultan -->
        <konsultan></konsultan>

        <!-- Artikel -->
        <artikel></artikel>
    </div>
    <div v-else-if="show.registerConsultant">
        <register-consultant></register-consultant>
    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<template id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #f39c12">
        <div class="container">
            <a class="navbar-brand" v-on:click.prevent="$emit('showIndex')">GIZI NUSANTARA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" v-on:click.prevent="$emit('showIndex')">Home</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <div class="input-group">
                        <div class="form-outline">
                            <input class="form-control" type="search" placeholder="Cari Tips diet" aria-label="Search">
                        </div>
                        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"
                                                                                 aria-hidden="true"></i></i></button>
                    </div>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Login</a></li>
                            <li><a class="dropdown-item" v-on:click.prevent="$emit('showRegisterConsultant')">Register Consultant</a>
                            </li>
                            <!--                        <li><a class="dropdown-item" href="#">History</a></li>-->
                            <!--                        <li><a class="dropdown-item" href="#">Options</a></li>-->
                            <!--                        <li>-->
                            <!--                            <hr class="dropdown-divider">-->
                            <!--                        </li>-->
                            <!--                        <li><a class="dropdown-item" href="#">Logout</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<template id="jumbotron">
    <div class="p-5 mb-4 bg-light text-center mt-4">
        <div class="container py-5" style="background: url('assets/image/jumbotron.png')">
            <h1 class="display-5 fw-bold">GIZI NUSANTARA</h1>
            <p class="col fs-4">Daftar Ahli Gizi dan Kandungan Gizi</p>
            <p class="col fs-4">Makanan Khas Seluruh Nusantara</p>
        </div>
    </div>
</template>

<template id="kategori">
    <div class="container mb-4" style="margin-top: 80px;">
        <div style="width: 100%" class="text-center">
            <h3>Kategori</h3>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-2 mt-1">
                    <div class="card rounded-3">
                        <a href="" class="text-decoration-none text-dark">
                            <div class="card-header" style="background: #54a0ff; color: white">
                                <i class="fas fa-utensils fa-2x mt-2"></i>
                            </div>
                            <div class="card-body">
                                Healthy Recipes
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 mt-1">
                    <div class="card rounded-3">
                        <a href="" class="text-decoration-none text-dark">
                            <div class="card-header" style="background: #54a0ff; color: white">
                                <i class="fas fa-dumbbell fa-2x mt-2"></i>
                            </div>
                            <div class="card-body">
                                Video Exercise
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 mt-1">
                    <a href="" class="text-decoration-none text-dark">
                        <div class="card rounded-3">
                            <div class="card-header" style="background: #54a0ff; color: white">
                                <i class="fas fa-comments fa-2x mt-2"></i>
                            </div>
                            <div class="card-body">
                                Sharing Community
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2 mt-1">
                    <a href="" class="text-decoration-none text-dark">
                        <div class="card rounded-3">
                            <div class="card-header" style="background: #54a0ff; color: white">
                                <i class="fas fa-diagnoses fa-2x mt-2"></i>
                            </div>
                            <div class="card-body">
                                Jenis Diet
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="artikel">
    <div class="container-fluid" style="margin-top: 100px;">
        <h3 class="text-center">Artikel</h3>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
            <div class="col">
                <div class="card mb-3">
                    <img src="https://placeimg.com/500/200/nature" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tips Tubuh Ideal</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://placeimg.com/500/200/nature" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Porsi Makan yang Baik</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="https://placeimg.com/500/200/nature" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Menjaga Pola Istirahat</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="konsultan">
    <div class="container-fluid" style="margin-top: 100px;">
        <h3 class="text-center">Top Konsultan</h3>
        <div class="row row-cols-4 mt-3" style="color: white">
            <div class="col">
                <div class="card flex-row">
                    <img src="https://placeimg.com/256/320/animals" class="card-img-top" alt="" style="width: 120px;">
                    <div class="card-body" style="background: #f39c12">
                        <h4 class="card-title">Dr. Stella Kane</h4>
                        <p>Dokter Hewan</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card flex-row">
                    <img src="https://placeimg.com/256/320/animals" class="card-img-top" alt="" style="width: 120px;">
                    <div class="card-body" style="background: #f39c12">
                        <h4 class="card-title">Dr. Stella Kane</h4>
                        <p>Dokter Hewan</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card flex-row">
                    <img src="https://placeimg.com/256/320/animals" class="card-img-top" alt="" style="width: 120px;">
                    <div class="card-body" style="background: #f39c12">
                        <h4 class="card-title">Dr. Stella Kane</h4>
                        <p>Dokter Hewan</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card flex-row">
                    <img src="https://placeimg.com/256/320/animals" class="card-img-top" alt="" style="width: 120px;">
                    <div class="card-body" style="background: #f39c12">
                        <h4 class="card-title">Dr. Stella Kane</h4>
                        <p>Dokter Hewan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="registerConsultant">
    <div class="container" style="margin-top: 70px;">
        <h1>Daftar Konsultan</h1>
        <div class="card">
            <div class="card-body">
                <form action="">
                    <div class="form-group mb-3">
                        <label for="" class="form-label">Nama Lengkap: </label>
                        <input type="text" class="form-control" placeholder="Nama Lengkap">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="form-label">No. Telepon/WA: </label>
                        <input type="text" class="form-control" placeholder="Nomor Telepon/Whatsapp">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="form-label">Alamat Email: </label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="form-label">Akun Media Sosial:</label>
                        <input type="text" class="form-control" placeholder="Instagram, Facebook, dll.">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="form-label">Upload Ijasah: </label>
                        <input type="file" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="form-label">Kategori Konsultan:</label>
                        <select name="" id="" class="form-control">
                            <option value="">-- Pilih kategori konsultan --</option>
                            <option value="">A</option>
                            <option value="">B</option>
                            <option value="">C</option>
                            <option value="">D</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="form-label">Password:</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group mb-3">
                        <label for="" class="form-label">Ulangi Password:</label>
                        <input type="password" class="form-control" placeholder=" Ulangi Password">
                    </div>
                    <button type="submit" class="btn btn-success" style="width: 100%">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

<!-- Vue -->
<script src="https://unpkg.com/vue@next"></script>
<script>
    const app = Vue.createApp({
        data(){
            return{
                show: {
                    index: true,
                    registerConsultant: false
                }
            }
        },
        methods: {
            showRegisterConsultant() {
                this.show.index = false
                this.show.registerConsultant = true
            },
            showIndex() {
                this.show.index = true
                this.show.registerConsultant = false
            }
        }

    })

    app.component('navbar', {
        template: `#navbar`,
    })
    app.component('jumbotron', {
        template: `#jumbotron`
    })
    app.component('kategori', {
        template: `#kategori`
    })
    app.component('artikel', {
        template: `#artikel`
    })
    app.component('konsultan', {
        template: `#konsultan`
    })
    app.component('register-consultant', {
        template: `#registerConsultant`
    })

    app.mount('#app')
</script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
-->


</body>
</html>
